<!DOCTYPE html>
<html>
    <head>
        <title>🛠readme</title>
        <style>
          .README {
                font-size: 60px;
                font-weight: bold;
                color: rgba(30, 100, 3, 0.411);
                text-align: center;
                font-family:Fantasy;
            }
            body {
            background: rgba(230, 214, 209, 0.863);
            font-family:verdana;
            
        }
          </style>
  <body>
    <div class="README">README</div>
<h1>CONTENTS OF THIS FILE</h1>
<p>---------------------------------</p>

<p> * Introduction<br>
 * Requirements</p>

    <h2>Introduction</h2>
<p>-----------------------</p>
    <p> 1.Run python file from cmd.<br>
        2.Open web page.<br> <br>
        
        Test it by searching the url on the address -<br>
        in the follwing format : <br>
        http://127.0.0.1:5000/forward_request?url=___ &arg1=arg1&..&arg_n=arg_n <br></p>
        I selected port 5000 for this proxy.
    <h2>Requirements</h2>
<p>--------------------------</p>
    <p> python >= 3.7.0- This project uses functions implemented after version 3.7.0<br>
        flask >= 2.0.2.<br>
        and threading, webbrowser modules</p>
<p><br><br></p>   
<h3> Mai Morag <br>
 Imperva coding challenge for the Cloud WAF Proxy team </h3>
  </body>
</html>